/* 1. IMPORT FONT & VARIABEL */

/* ======================================= */
/* 💖 Deklarasi Font Tomkin (WAJIB ADA FILE) */
/* ======================================= */
@font-face {
    font-family: 'TomkinHero'; 
    src: url('../fonts/tomkin/fonnts.com-Tomkin-Bold.ttf') format('truetype'); 
    font-weight: 800; 
    font-style: normal;
    font-display: swap; /* OPTIMASI: Teks tetap terbaca saat font loading */
}

@font-face {
    font-family: 'TomkinRegular'; 
    src: url('../fonts/tomkin/fonnts.com-Tomkin-Regular.ttf') format('truetype'); 
    font-weight: 800; 
    font-style: normal;
    font-display: swap;
}

/* ======================================= */
/* 🌙 DARK MODE (Default - Style Raka) */
/* ======================================= */
:root {
    --bg-dark: #1a1c23;       /* Latar belakang utama (Dark Navy) */
    --card-bg: #272a38;       /* Latar belakang kartu */
    --accent-color: #ffb400;  /* Kuning/Amber */
    --text-main: #ffffff;     /* Teks Putih */
    --text-muted: #a0a3b1;    /* Teks abu-abu untuk deskripsi */
}

body {
    font-family: 'Inter', sans-serif; 
    color: var(--text-main);
    background-color: var(--bg-dark);

    overflow-x: clip;

    transition: background-color 0.3s, color 0.3s;
}

/* ======================================= */
/* 🎨 GLOBAL TYPOGRAPHY SYSTEM (BARU)      */
/* ======================================= */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Poppins', sans-serif; /* Heading pakai Poppins biar tegas */
}

.btn {
    font-family: 'Poppins', sans-serif; /* Tombol juga pakai Poppins */
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* ======================================= */
/* ☀️ LIGHT MODE RULES */
/* ======================================= */
[data-theme="light"] {
    --bg-dark: #f8fafc;       
    --card-bg: #ffffff;       
    --text-main: #1e2029;     
    --text-muted: #64748b;    
    --accent-color: #f59e0b;  
}

[data-theme="light"] .card {
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

[data-theme="light"] .navbar {
    background-color: transparent !important; /* Kembalikan sifat tembus pandang di posisi puncak (Hero) */
    box-shadow: none; /* Hilangkan bayangan agar menyatu sempurna dengan background */
}

[data-theme="light"] .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.85) !important; /* Putih semi-transparan (Glassmorphism) */
    border: 1px solid rgba(0, 0, 0, 0.05); /* Border halus gelap untuk kontras */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08); /* Bayangan lebih tipis & lembut */
}

[data-theme="light"] #theme-toggle {
    color: #1e2029;
    border-color: #1e2029;
}

/* ======================================= */
/* ✨ OVERRIDE HERO BACKGROUND (LIGHT MODE)*/
/* ======================================= */
[data-theme="light"] .hero-bg-layer {
    filter: invert(1) hue-rotate(180deg) brightness(1.1) opacity(0.8);
    mix-blend-mode: multiply;
}

/* ======================================= */
